<!DOCTYPE html>
<html>
  <head></head>
  <body>
		<form method="get" action="/display">
			<dl>
				<dt>
					<label for="true">True symbol: </label>
					<input type="text" name="true" id="true" >
				</dt>
				<dt>
					<label for="false">False symbol: </label>
					<input type="text" name="false" id="false">
				</dt>
				<dt>
					<label for="size">Size (2^x): </label>
					<input type="text" name="size" id="size">
				</dt>
				<dt>
					<input type="submit" value="Show truth table">
				</dt>
			</dl>
		</form>
		<a href="/">Reload page</a>
  </body>
</html>
